[submodule "marketplace"]
	path = marketplace
	url = https://github.com/videocoin/marketplace.git
[submodule "nft-app"]
	path = nft-app
	url = https://github.com/videocoin/nft-app.git
[submodule "wyvern-nft-tokens-poc"]
	path = wyvern-nft-tokens-poc
	url = https://github.com/videocoin/wyvern-nft-tokens-poc.git
